
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProbTabTab</title>


    <link rel="stylesheet" href="~/fonts/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="~/fonts/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="~/css/vendor/dropzone.min.css" />

    <link rel="stylesheet" href="~/css/vendor/jquery.contextMenu.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="~/css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/vendor/select2.min.css" />
    <link rel="stylesheet" href="~/css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/css/vendor/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="~/css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/css/vendor/component-custom-switch.min.css" />
    <link href="~/css/dore.light.blue.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/vendor/cropper.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="~/css/vendor/slim.min.css" />
    <link rel="stylesheet" href="~/css/vendor/styles.css" />

    <link rel="stylesheet" href="~/css/vendor/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="~/css/vendor/smart_wizard.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/main.css" />

    <script src="https://www.google.com/recaptcha/api.js"></script>




</head>
