<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li>
                    <a asp-area="SiteAdministator" asp-controller="Home" asp-action="Index">
                        <i class="simple-icon-home"></i>
                        <span>AnaSayfa</span>
                    </a>
                </li>
                <li>
                    <a asp-area="SiteAdministator" asp-controller="Home" asp-action="Settings">
                        <i class="iconsminds-digital-drawing"></i> Ayarlar

                    </a>
                </li>
                <li>
                    <a asp-area="SiteAdministator" asp-controller="Package" asp-action="Index">
                        <i class="iconsminds-air-balloon-1"></i> Paket
                    </a>
                </li>
                <li>
                    <a asp-area="SiteAdministator" asp-controller="Home" asp-action="Contracts">
                        <i class="iconsminds-files"></i> Sözleşmelerim
                    </a>
                </li>
                <li>
                    <a asp-area="SiteAdministator" asp-controller="Home" asp-action="SignOut">
                        <i class="iconsminds-pantone"></i> Çıkış
                    </a>
                </li>


                @*<li>
            <a href="#menu">
                <i class="iconsminds-three-arrow-fork"></i> Menu
            </a>
        </li>
        <li class="active">
            <a href="Blank.Page.html">
                <i class="iconsminds-bucket"></i> Blank Page
            </a>
        </li>
        <li>
            <a href="https://dore-jquery-docs.coloredstrategies.com" target="_blank">
                <i class="iconsminds-library"></i> Docs
            </a>
        </li>*@
            </ul>
        </div>
    </div>

</div>
