<!DOCTYPE html>
<html lang="tr">

<partial name="PartialViews/_HeadPartial" />

<body id="app-container" class="menu-default show-spinner vertical boxed">

    <partial name="PartialViews/_HeaderPartial" />

    <partial name="PartialViews/_MenuPartial" />

    @RenderBody()


    <partial name="PartialViews/_ScriptPartial" />
    
</body>
</html>