<!DOCTYPE html>
<html lang="en">

<partial name="PartialViews/_HeadPartial" />

<body id="app-container" class="menu-default @*show-spinner*@">

    <partial name="PartialViews/_HeaderPartial" />

    <partial name="PartialViews/_MenuPartial" />

    @RenderBody()


    <partial name="PartialViews/_ScriptPartial" />

</body>
</html>