@model PropTabTabIK.Entities.Entities.Employee
@{
    ViewData["Title"] = "Şifre Güncelle";
}


<main>
    <div class="container-fluid">

        <h1>Şifre Güncelleme</h1>

        <div class="separator mb-5"></div>

    </div>

    <!--PEN CONTENT     -->
    <div class="content">
        <!--content inner-->
        <div class="content__inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.ID" />
                        <form asp-action="NewPassword" asp-controller="Home" asp-area="EmployeeArea" method="post" id="exampleFormTopLabels" enctype="multipart/form-data" class="password-strength form p-4">
                            <h3 class="form__title text-center mb-4">Yeni Şifrenizi Girin</h3>
                            <div class="form-group">
                                <label for="password-input">Şifre</label>
                                <div class="input-group">
                                    <input class="password-strength__input1 form-control" type="password" asp-for="Password" name="Password" id="password-input1" aria-describedby="passwordHelp" placeholder="Yeni şifre" />
                                    <div class="input-group-append">
                                        <button class="password-strength__visibility1 btn btn-outline-secondary" type="button" id="btn1">
                                            <span class="password-strength__visibility-icon" data-visible="hidden"><i class="simple-icon-lock"></i></span>
                                            <span class="password-strength__visibility-icon js-hidden" data-visible="visible"><i class="simple-icon-lock-open"></i></span>
                                        </button>
                                    </div>
                                </div>

                                <small class="password-strength__error text-danger js-hidden">This symbol is not allowed!</small><small class="form-text text-muted mt-2" id="passwordHelp">Şifreniz 6 karakterden fazla, Küçük, Büyük karakter, sayı ve nokta içermeli.</small>

                                <label for="password-input">Şifre Onayla</label>

                                <div class="input-group">
                                    <input class="password-strength__input2 form-control" type="password" asp-for="Password" name="ConfirmPassword" id="password-input2" aria-describedby="passwordHelp" placeholder="Yeni şifre tekrar" />
                                    <div class="input-group-append">
                                        <button class="password-strength__visibility2 btn btn-outline-secondary" type="button" id="btn2">
                                            <span class="password-strength__visibility-icon" data-visible="hidden"><i class="simple-icon-lock"></i></span>
                                            <span class="password-strength__visibility-icon js-hidden" data-visible="visible"><i class="simple-icon-lock-open"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @if (TempData["Hata"] != null)
                            {
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>@TempData["Hata"].ToString()</strong>
                                </div>
                            }
                            <div class="password-strength__bar-block progress mb-4">
                                <div class="password-strength__bar progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <button class="password-strength__submit btn btn-success d-flex m-auto" type="submit" disabled="disabled">Onayla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
