@{
    ViewData["Title"] = "Index";
}



<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Şirket-Çalışan Detay Grafiği</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <p><a class="btn btn-outline-primary" asp-controller="Crud" asp-action="Index">Crud işlemlerine git</a></p>
                        </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>

                <div id="Piechart_div"></div>

            </div>
        </div>
    </div>
</main>