<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li>
                    <a asp-controller="Home" asp-area="CompanyAdministator" asp-action="Index">
                        <i class="simple-icon-home"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Company" asp-area="CompanyAdministator" asp-action="EditCompany">
                        <i class="iconsminds-shop-4"></i>
                        <span>Şirketi Düzenle</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="EmployeesInfo">
                        <i class="iconsminds-digital-drawing"></i> Çalışanlar
                    </a>
                </li>
                <li>
                    <a asp-area="CompanyAdministator" asp-controller="Home" asp-action="Requests">
                        <i class="iconsminds-plane"></i> İzin
                    </a>
                </li>
                <li>
                    <a asp-area="CompanyAdministator" asp-controller="Company" asp-action="LogOut">
                        <i class="iconsminds-puzzle d-block"></i> Çıkış
                    </a>
                </li>
                @*
                    <li>
                        <a href="#ui">
                            <i class="iconsminds-pantone"></i> Raporlar
                        </a>
                    </li>
                    @
                    @
                    <li>
                        <a href="#menu">
                            <i class="iconsminds-three-arrow-fork"></i> Takvim
                        </a>
                    </li>
                    @
                    @
                    <li>
                        <a href="https://dore-jquery-docs.coloredstrategies.com/" target="_blank">
                            <i class="iconsminds-library"></i> Docs
                        </a>
                    </li>
                *@
            </ul>
        </div>
    </div>
</div>