@model PropTabTabIK.Entities.SideEntities.MailTemplate

@{
    ViewData["Title"] = "CreateMailTemplate";
    Layout = "~/Areas/SiteAdministator/Views/Shared/_Layout.cshtml";
}
<main>

    <h4>Mail Şablonu</h4>
    <hr />
    <div class="row">
        <div class="col-md-9 card mx-auto ">
            <form  asp-action="CreateMailTemplate" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Mail Adı</label>
                    <input required asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Subject" class="control-label">Konu</label>
                    <input required asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="card mb-4">
                    <div class="card-body ">
                        <h5 class="mb-4">İçerik </h5>
                        <textarea  asp-for="Content" id="ckEditorClassic"></textarea>
                    </div>
                </div>
                <div class="form-group d-none">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control"/>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="UserID" class="control-label"></label>
                    <input asp-for="UserID" value="@ViewBag.SiteAdminID" class="form-control" />
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Home">Geri Dön</a>
    </div>


</main>
<script src="~/js/vendor/ckeditor5-build-classic/ckeditor.js"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace('ckEditorClassic');
</script>
